@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Inter", sans-serif;
}

.text-heading {
    color: var(--white-color);
}

.text-description {
    color: var(--description-color);
}

.shared-display {
    display: flex;
}