@media screen and (max-width: 576px) {
    
    .shared-display {
        flex-direction: column;
    }

    header {
        max-height: 100%;
    }

    /* Nav bar start */

    .nav-bar {
        width: 90%;
        padding: 3.25rem 1.25rem 0rem 1.25rem;
    }

    .nav-content button {
        display: none;
    }

    .nav-item {
        display: none;
    }

    .nav-content i {
        display: block;
        font-size: 1.5rem;
        color: var(--white-color);
    }
    /* Nav bar end */
    /* Banner section start */
    .banner-container {
        width: 90%;
        margin: 0 auto;
    }

    .banner-left {
        width: 100%;
    }

    .banner-left h1 {
        width: 80%;
        font-size: 2.25rem;
    }

    .banner-left p {
        width: 70%;
    }

    .banner-left-btns {
        display: flex;
        width: 100%;
    }

    .banner-left button {
        font-size: 1rem;
    }

    #download-btn {
        font-size: 1rem;
        padding: 0.75rem 1.5rem;
    }

    #free-workout {
        right: 4.5rem;
        top: 41rem;
    }

    #free-workout h3 {
        font-size: 1.8rem;
        padding: 0.75rem 2.5rem 0.2rem 1.1rem;
    }

    #free-workout p {
        font-size: 0.6rem;
        padding: 0rem 1rem 0.75rem 1.1rem;
    }

    .banner-right-video {
        display: flex;
        right: 15rem;
        top: 55rem;
        padding-left: 1rem;
    }

    #youtube-video h4 {
        font-size: 1.1rem;
        padding: 1rem 3rem 0.3rem 0.5rem;
    }

    #youtube-video p {
        font-size: 0.75rem;
        padding: 0rem 1rem 0.85rem 0.5rem;
    }
    /* Banner section end */
    /* Change Your Habits section start */
    .change-habits-items {
        grid-template-columns: repeat(1, 1fr);
        gap: 2.5rem;
    }

    .change-habits-heading {
        width: 90%;
        padding-top: 0;
    }

    .change-habits-heading h2 {
        font-size: 2rem;
    }

    .change-habits-heading p {
        line-height: 24px;
        letter-spacing: 0.3px;
    }
    /* Change Your Habits section end */
    /* Run extra section start */
    .run-extra-container {
        width: 90%;
        margin: 0 auto;
        margin-top: 4rem;
    }

    .run-extra-content h2 {
        font-size: 2rem;
        width: 80%;
    }

    .run-extra-content p {
        width: 80%;
    }

    .run-extra-img img {
        display: block;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }
    /* Run extra section end */
    /* BMI calculator section start */
    .bmi-calculator-heading {
        width: 90%;
        margin: 0 auto;
        padding: 1.5rem 0rem;
    }

    .bmi-calculator-heading h2 {
        font-size: 2.5rem;
    }

    .bmi-calculator-container {
        width: 90%;
        margin: 0 auto;
    }

    .bmi-calculator-table {
        width: 100%;
    }

    .calculate-bmi-container {
        width: 100%;
    }

    .calculate {
        margin-bottom: 2.5rem;
    }
    
    /* BMI calculator section end */
    /* Meet Our Team section start */
    .our-team-heading {
        width: 65%;
    }

    .our-team-heading h2 {
        font-size: 2rem;
    }

    .our-team-members {
        width: 80%;
        grid-template-columns: repeat(1, 1fr);
    }

    .hide {
        display: none;
    }
    /* Meet Our Team section end */
    /* Benefits section start */
    .benefits-container h2 {
        font-size: 2rem;
        font-weight: 700;
    }

    #benefits-container {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }

    .benefits-item {
        width: 88%;
    }
    /* Benefits section end */
    /* Footer section start */

    /* Footer section end */

} 