header {
    width: 100%;
    max-height: 100%;
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%,rgba(119, 119, 119) 100%);
}

/* Nav bar start */

.nav-bar {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 3.6rem;
}

.fitness {
    font-size: 2.25rem;
    font-weight: 800;
    color: var(--button-color);
    font-style: italic;
}

.nav-content ul {
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;

}

.nav-content i {
    display: none;
}

.nav-content li {
    list-style: none;
}

.nav-item {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--white-color);
    margin-left: 3rem;
}

.nav-content button {
    border-radius: 46px;
    padding: 0.5rem 1.25rem;
    margin: 0.25rem 0px 0.25rem 0.25rem;
}

.nav-about {
    margin: 0.75rem 1.5rem 0.75rem 3rem;
}

/* Nav bar end */

/* Banner section start */
.banner-container {
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.banner-left {
    width: 50%;
    margin-top: 6rem;
}

.banner-left h1 {
    font-weight: 900;
    font-size: 5rem;
    color: var(--white-color);
}

.banner-left p {
    font-weight: 400;
    font-size: 1rem;
    color: var(--description-color);
    margin: 1.75rem 0rem;
}
#shape {
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 5rem;                           
}

.banner-left button {
    border-radius: 42px;
    padding: 1rem 2.25rem;
}

#download-btn {
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(17, 17, 17, 0.2);
    margin-left: 0.75rem;
}

.banner-right img {
    max-width: 22rem;
    max-height: 100%;
    margin-top: 2rem;
    margin-bottom: -0.25rem;
    position: relative;
}

#free-workout {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.05);
    position: absolute;
    right: 3.2rem;
    top: 17rem;
}

#free-workout h3 {
    font-weight: 900;
    font-size: 2.5rem;
    padding: 1rem 3.3rem 0.25rem 1.5rem;
}

#free-workout p {
    font-weight: 400;
    font-size: 0.75rem;
    padding: 0.25rem 1.5rem 1rem 1.5rem;
}

.banner-right-video {
    display: flex;
    align-items: center;
    padding-left: 1.4rem;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(17, 17, 17, 0.3);
    position: absolute;
    right: 24rem;
    top: 35.5rem;
}

#youtube {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--button-color);
}

#youtube-triangle {
    width: 0;
	height: 0;
	border-top: 0.5rem solid transparent;
	border-left: 1rem solid #ffffff;
	border-bottom: 0.5rem solid transparent;
    position: relative;
    left: 0.90rem;
    top: 0.75rem;
}

#youtube-video h4 {
    padding: 1.25rem 4rem 0.5rem 0.5rem;
}

#youtube-video p {
    padding: 0rem 1.4rem 1.25rem 0.5rem;
}
/* Banner section end */
/* Change Your Habits section start */
.change-habits-container {
    width: 90%;
    margin: 0 auto;
}

.change-habits-heading {
    width: 50%;
    margin: 0 auto;
    padding: 6.25rem 0rem 3.4rem 0rem;
    text-align: center;
}

.change-habits-heading h2 {
    padding-bottom: 0.85rem;
}

.change-habits-items {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.change-habits-item {
    text-align: center;
}

.change-habits-item img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.change-habits-item h4 {
    font-weight: 600;
    font-size: 1.1rem;
    padding: 1.9rem 0rem 0.35rem 0rem;
}

.change-habits-item p {
    width: 15rem;
    margin: 0 auto;
}
/* Change Your Habits section end */
