header {
    width: 100%;
    max-height: 100%;
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%,rgba(119, 119, 119) 100%);
}

/* Nav bar start */

.nav-bar {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 3.6rem;
}

.fitness {
    font-size: 2.25rem;
    font-weight: 800;
    color: var(--button-color);
    font-style: italic;
}

.nav-content ul {
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;

}

.nav-content i {
    display: none;
}

.nav-content li {
    list-style: none;
    cursor: pointer;
}

.nav-item {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--white-color);
    margin-left: 3rem;
}

.nav-content button {
    border-radius: 46px;
    padding: 0.5rem 1.25rem;
    margin: 0.25rem 0px 0.25rem 0.25rem;
}

.nav-about {
    margin: 0.75rem 1.5rem 0.75rem 3rem;
}

/* Nav bar end */

/* Banner section start */
.banner-container {
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.banner-left {
    width: 50%;
    margin-top: 6rem;
}

.banner-left h1 {
    font-weight: 900;
    font-size: 5rem;
    color: var(--white-color);
}

.banner-left p {
    font-weight: 400;
    font-size: 1rem;
    color: var(--description-color);
    margin: 1.75rem 0rem;
}
#shape {
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 5rem;                           
}

#download-btn {
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(17, 17, 17, 0.2);
    margin-left: 0.75rem;
}

.banner-right img {
    max-width: 22rem;
    max-height: 100%;
    margin-top: 2rem;
    margin-bottom: -0.25rem;
    position: relative;
}

#free-workout {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.05);
    position: absolute;
    right: 3.2rem;
    top: 17rem;
}

#free-workout h3 {
    font-weight: 900;
    font-size: 2.5rem;
    padding: 1rem 3.3rem 0.25rem 1.5rem;
}

#free-workout p {
    font-weight: 400;
    font-size: 0.75rem;
    padding: 0.25rem 1.5rem 1rem 1.5rem;
}

.banner-right-video {
    display: flex;
    align-items: center;
    padding-left: 1.4rem;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(17, 17, 17, 0.3);
    position: absolute;
    right: 24rem;
    top: 35.5rem;
}

#youtube {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--button-color);
}

#youtube-triangle {
    width: 0;
	height: 0;
	border-top: 0.5rem solid transparent;
	border-left: 1rem solid #ffffff;
	border-bottom: 0.5rem solid transparent;
    position: relative;
    left: 0.90rem;
    top: 0.75rem;
}

#youtube-video h4 {
    padding: 1.25rem 4rem 0.25rem 0.5rem;
    font-size: 1.5rem;
}

#youtube-video p {
    padding: 0rem 1.4rem 1.25rem 0.5rem;
}
/* Banner section end */
/* Change Your Habits section start */
.change-habits-container {
    width: 90%;
    margin: 0 auto;
}

.change-habits-heading {
    width: 50%;
    margin: 0 auto;
    padding: 6.25rem 0rem 3.4rem 0rem;
    text-align: center;
}

.change-habits-heading h2 {
    padding-bottom: 0.85rem;
}

.change-habits-items {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.change-habits-item {
    text-align: center;
}

.change-habits-item img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.change-habits-item h4 {
    font-weight: 600;
    font-size: 1.1rem;
    padding: 1.9rem 0rem 0.35rem 0rem;
}

.change-habits-item p {
    width: 15rem;
    margin: 0 auto;
}
/* Change Your Habits section end */
/* Run extra section start */
.run-extra-container {
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 6.25rem;
    background-color: var(--background-color);
    border-radius: 18px;
}

.run-extra-content {
    padding: 2.5rem 0rem 2.5rem 3.4rem;
}

.run-extra-content h2 {
    width: 25rem;
}

.run-extra-content p {
    width: 25rem;
    margin: 0.85rem 0rem 2.1rem 0rem;
}

.run-extra-img img {
    width: 23rem;
    height: 19.5rem;
    margin: 2.5rem 2rem 2rem 0rem;
    border-radius: 18px;
    text-align: center;
}
/* Run extra section end */
/* BMI calculator section start */
.bmi-calculator-heading {
    width: 45%;
    margin: 0 auto;
    padding: 5.5rem 0rem;
}

.bmi-calculator-heading p {
    padding-top: 1rem;
}

.bmi-calculator-main-part {
    width: 100%;
    background-color: var(--background-color);
}

.bmi-calculator-container {
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.bmi-calculator-table {
    width: 50%;
    padding-bottom: 8rem;
}

.bmi-calculator-table h4 {
    font-size: 1.75rem;
    margin: 3.25rem 0rem;
}

.bmi-calculator-table table, th, td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
}

.bmi-calculator-table th, td {
    padding: 1rem 1.75rem 1rem 1.25rem;
}

.bmi-calculator-table table th {
    font-size: 1rem;
    font-weight: 500;
    color: var(--white-color);
}

.bmi-calculator-table table td {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--description-color);
}

.calculate-bmi-container {
    width: 50%;
}

.calculate-bmi-container h4 {
    font-size: 1.75rem;
    margin-top: -3rem;
}

.calculate-bmi-container p {
    padding: 0.9rem 0rem 2.1rem 0rem;
}

.bmi-calculator {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
}

.height {
    grid-column: 1 / 5;
}

.weight {
    grid-column: 5 / -1;
}

.age {
    grid-column: 1 / 5;
}

.text {
    grid-column: 5 / -1;
}

.activity-factor {
    grid-column: 1 / -1;
}

.calculate-bmi-container button {
    margin-top: 1.5rem;
}
/* BMI calculator section end */
/* BENEFITS section start */

/* BENEFITS section end */
/* Meet Our Team section start */
.our-team-heading {
    width: 45%;
    margin: 0 auto;
    text-align: center;
    margin-top: 5.5rem;
    margin-bottom: 3.5rem;
}

.our-team-heading p {
    margin-top: 0.85rem;
}

.our-team-members {
    width: 77%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1.25rem;
    padding: 1.25rem;
    background-color: var(--background-color);
    border-radius: 18px;
}

.our-team-member img {
    width: 20.3rem;
    height: 17rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 18px;
    display: block;
    margin: 0 auto;
}

.our-team-members h4 {
    font-size: 1rem;
    font-weight: 700;
    color: var(--white-color);
}

.img-description {
    position: relative;
    top: -4rem;
    left: 2rem;
    margin-bottom: -2.4rem;
}

/* Meet Our Team section end */
